.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #2c3e50;
  transition: left 0.3s ease-in-out;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding-top: 20px;
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  align-items: center;
}

.sidebar-header span {
  color: white;
  margin-left: 15px;
  margin-bottom: -10px;
  font-size: 15px;
}

.sidebar-header p {
  color: white;
  font-size: 22px;
  margin-left: 15px;
  margin-top: 3px;
  font-weight: 600;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-links li {
  padding: 15px;
  display: flex;
  gap: 8px;
  /* text-align: center; */
}

.home_icon {
  font-size: 18px;
  margin-top: 1px;
  color: white;
}

.call_icon {
  font-size: 18px;
  margin-top: 2px;
  color: white;
}

.sidebar-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-weight: 600;
  display: block;
  transition: 0.3s;
}

.sidebar-links a:hover {
  color: orange;
}

.sidebar-toggle {
  position: fixed;
  top: 15px;
  left: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  background: #2c3e50;
  padding: 10px;
  border-radius: 5px;
  transition: 0.3s;
}

.sidebar-toggle:hover {
  background: #1a252f;
}
